<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mayor Tutorials - {% block title %} {% endblock title %}</title>

    <!-- Bootstrap Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css')}}">
    <!-- Custom Styles -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mystyles.css')}}">
    
    <!-- Bootstrap Scripts -->
    <script src="{{ url_for('static', filename='bootstrap/css/bootstrap.min.js')}}"> </script>

</head>
<body>
    <div>
        <header>
            <nav class="navbar navbar-expand-lg" style="padding: 10px 30px;">
                <a class="navbar-brand" href="{{ url_for('splash') }}">Mayor Tutorials</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('admin_index') }}?user=admin">Admin Page <span class="sr-only">(current)</span></a>
                        </li>
                        {% if user %}
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('index') }}">Home <span class="sr-only">(current)</span></a>
                        </li>

                        <li class="nav-item active">
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout <span class="sr-only">(current)</span></a>
                        </li>
                        {% else %}                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('login') }}">Login</a>
                        </li>
                        {% endif %}                        
                    </ul>
                </div>
            </nav>
        </header>

        {% block content %}
        {% endblock content %}
        
        <footer>
            &copy; 2024
        </footer>

    </div>

    <!-- Custom Scripts -->
    <script src="{{ url_for('static', filename='css/myscripts.js')}}"> </script>
</body>
</html>