{% extends "auth/base.html" %}
{% block title %}
    Reset Mail Sent
{% endblock title %}

{% block content %}
<div class="content container">
    <h2>Password Reset Mail Confirmation </h2>

    {% if response %}
        {% if response.success %}
            <p>
                A password reset link has been sent to your email, <b>{{email}}</b>. <br>
                Kindly click on the link to reset your password.
            </p>
        
        {% else %}
            <p>
                Error sending reset link to your mail, <b>{{email}}</b>. 
            </p>
            
            <p class="error">
                <b>Error: {{ response.message }}</b>
            </p>
        {% endif %}
    {% endif %}
    
    <p>
        Click <a href="{{ url_for('login') }}">Login to continue</a>.
    </p>
</div>
{% endblock content %}